   /* KEEP THIS CLASS */
   .hidden {
    display: none;
  }

h1,
h2,
h3,
h4,
h5,
p {
    font-weight: 400;
}

.G {
    color: grey;
}

.X {
    color: red;

}

 
a {
    text-decoration: none;
    color: inherit;
}
 #tomatoes-rate-image {
    width: 20%;
    height: 20%;
  }
a:hover {
    color: #6ABCEA;
}

.text-center {
    text-align: center;
}
.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
 
.navbar-dark {
    padding: 15px !important;
    background: #13191d !important;
}
 
.sidebar {
    line-height: 26px;
    padding-top: 50px;
}
 
.sidebar ul {
    margin: 30px 0px;
}
 
.sidebar .nav-link {
    display: block;
    text-align: center;
}
 
.sidebar .nav-link i {
    display: block;
    text-align: center;
}
 
.sidebar .nav-link.active {
    color: #03A9F4;
}
 
.movie_list {
    margin-top: 8rem;
    padding-left: 4rem !important;
}
 
.card-view {
    background: #ffffff;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 315px;
    margin: 2em;
    border-radius: 10px;
    display: inline-block;
}
 
.card-header  {
    padding: 0;
    margin: 0;
    height: 367px;
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-header trailer {
    background-size: contain;
}
.hero-imag:hover {
  opacity: 1.0;
}
.card-header-icon {
    position: relative;
}
 
.header-icon {
    width: 100%;
    height: 367px;
    line-height: 367px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    color: #ffffff;
    font-size: 54px;
    text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6ABCEA;
    opacity: .85;
}
 
.header-icon:hover {
    background: rgba(0, 0, 0, 0.15);
    font-size: 74px;
    text-shadow: 0px 0px 20px #6abcea, 0px 5px 30px #6ABCEA;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 1;
}
 
.card-movie-content {
    padding: 18px 18px 24px 18px;
    margin: 0;
}
 
.card-movie-content-head,
.card-movie-info {
    display: table;
    width: 100%;
}
 
.ratings {
    width: 50px;
    height: 15px;
    background-size: contain;
    display: table-cell;
    text-align: right;
    position: relative;
    margin-top: 5px;
    font-weight: 600;
}
 
.ratings span {
    color: #2196F3;
}
 
.card-movie-info {
    margin-top: 1em;
}
 
.movie-running-time {
    display: table-cell;
    text-transform: uppercase;
    text-align: center;
}
 
.movie-running-time:first-of-type {
    text-align: left;
}
 
.movie-running-time:last-of-type {
    text-align: right;
}
 
.movie-running-time label {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: .5em;
    font-size: 9px;
}
 
.movie-running-time span {
    font-weight: 700;
    font-size: 11px;
}
